<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Framework.Configuration" publicKeyToken="f8f7920de1ae00a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Util.FileMonitor" publicKeyToken="cce9a8bd2757fac3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.1" newVersion="1.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Data.DBConnector" publicKeyToken="2452f4aa82c6d2c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.2.0" newVersion="2.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.25.0" newVersion="4.2.25.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>